<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sagar.android.project.picturepreview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".PreviewGrid"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".FullViewPicture"
            android:label="@string/title_activity_full_view_picture"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Main2Activityy"
            android:label="@string/title_activity_main2_activityy"
            android:theme="@style/AppTheme.transparent">
        </activity>
        <activity
            android:name=".PicPreview"
            android:label="@string/title_activity_pic_preview"
            android:theme="@style/AppTheme.transparent">
        </activity>
    </application>

</manifest>